In [1]:
import pandas as pd
import numpy as np

I drop several columns for the following reasons.
>
> `Unnamed: 0` | No information explaining this column.
>
> `County Code` | Different counties in different states can have the same value, so I encode `County` later.
>
> `Site Num`, `Address`, & `State` | There are already multiple features regarding location. I am going to focus on `State Code`, `County`, and `City`.
>
> `NO2 Units`, `O3 Units`, `SO2 Units`, & `CO Units` | Units are not essential for my purposes.
>
> `NO2 1st Max Hour`, `O3 1st Max Hour`, `SO2 1st Max Hour`, & `CO 1st Max Hour` | Time of recording is not essential for my purposes.

## Ozone

In [2]:
O3original = pd.read_csv('O3_2000_2021.csv')

/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
O3 = O3original.copy()

O3.drop(O3[(O3['State Name'] == 'Country Of Mexico') | 
           (O3['State Name'] == 'Virgin Islands') | 
           (O3['State Name'] == 'Canada')].index, inplace=True)

O3.drop(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum',
         'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Units of Measure', 'Event Type', 
         'Observation Count', 'Observation Percent', 'Method Code', 'Method Name', 'Local Site Name',
         'CBSA Name', 'Date of Last Change'], axis=1, inplace=True)

O3.rename(columns={'Date Local': 'Date', 
                   'Arithmetic Mean': 'O3 Mean', 
                   '1st Max Value': 'O3 1st Max Value', 
                   '1st Max Hour': 'O3 1st Max Hour', 
                   'AQI': 'O3 AQI', 
                   'State Name': 'State', 
                   'County Name': 'County', 
                   'City Name': 'City'}, inplace=True)

O3['Date'] = pd.to_datetime(O3['Date'])

O3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8032242 entries, 0 to 8080079
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Date              datetime64[ns]
 1   O3 Mean           float64
 2   O3 1st Max Value  float64
 3   O3 1st Max Hour   int64
 4   O3 AQI            int64
 5   Address           object
 6   State             object
 7   County            object
 8   City              object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 612.8+ MB

## Carbon Monoxide

In [4]:
COoriginal = pd.read_csv('CO_2000_2021.csv')

In [5]:
CO = COoriginal.copy()

CO.drop(CO[(CO['State Name'] == 'Country Of Mexico') | 
           (CO['State Name'] == 'Virgin Islands') | 
           (CO['State Name'] == 'Canada')].index, inplace=True)

CO.drop(CO[CO['Pollutant Standard'] == ('CO 1-hour 1971')].index, axis=0, inplace=True)

CO.drop(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum',
         'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Units of Measure', 'Event Type', 
         'Observation Count', 'Observation Percent', 'Method Code', 'Method Name', 'Local Site Name',
         'CBSA Name', 'Date of Last Change'], axis=1, inplace=True)

CO.rename(columns={'Date Local': 'Date', 
                   'Arithmetic Mean': 'CO Mean', 
                   '1st Max Value': 'CO 1st Max Value', 
                   '1st Max Hour': 'CO 1st Max Hour', 
                   'AQI': 'CO AQI', 
                   'State Name': 'State', 
                   'County Name': 'County', 
                   'City Name': 'City'}, inplace=True)

CO['Date'] = pd.to_datetime(CO['Date'])

CO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2626903 entries, 366 to 5341677
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Date              datetime64[ns]
 1   CO Mean           float64
 2   CO 1st Max Value  float64
 3   CO 1st Max Hour   int64
 4   CO AQI            float64
 5   Address           object
 6   State             object
 7   County            object
 8   City              object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 200.4+ MB

## Sulfur Dioxide

In [6]:
SO2original = pd.read_csv('SO2_2000_2021.csv')

In [22]:
SO2 = SO2original.copy()

SO2.drop(SO2[(SO2['State Name'] == 'Country Of Mexico') | 
             (SO2['State Name'] == 'Virgin Islands') | 
             (SO2['State Name'] == 'Canada')].index, inplace=True)

SO2.drop(SO2[SO2['Pollutant Standard'] == ('SO2 3-hour 1971')].index, inplace=True)

SO2.drop(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum',
          'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Units of Measure', 'Event Type', 
          'Observation Count', 'Observation Percent', 'Method Code', 'Method Name', 'Local Site Name',
          'CBSA Name', 'Date of Last Change'], axis=1, inplace=True)

SO2.rename(columns={'Date Local': 'Date', 
                    'Arithmetic Mean': 'SO2 Mean', 
                    '1st Max Value': 'SO2 1st Max Value', 
                    '1st Max Hour': 'SO2 1st Max Hour', 
                    'AQI': 'SO2 AQI', 
                    'State Name': 'State', 
                    'County Name': 'County', 
                    'City Name': 'City'}, inplace=True)

SO2['Date'] = pd.to_datetime(SO2['Date'])

SO2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3722660 entries, 0 to 7520516
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   SO2 Mean           float64
 2   SO2 1st Max Value  float64
 3   SO2 1st Max Hour   int64
 4   SO2 AQI            float64
 5   Address            object
 6   State              object
 7   County             object
 8   City               object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 284.0+ MB

## Nitrogen Dioxide

In [8]:
NO2original = pd.read_csv('NO2_2000_2021.csv')

In [15]:
NO2 = NO2original.copy()

NO2.drop(NO2[(NO2['State Name'] == 'Country Of Mexico') | 
             (NO2['State Name'] == 'Virgin Islands') | 
             (NO2['State Name'] == 'Canada')].index, inplace=True)

NO2.drop(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 
          'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Units of Measure', 'Event Type', 
          'Observation Count', 'Observation Percent', 'Method Code', 'Method Name', 'Local Site Name', 
          'CBSA Name', 'Date of Last Change'], axis=1, inplace=True)

NO2.rename(columns={'Date Local': 'Date', 
                    'Arithmetic Mean': 'NO2 Mean', 
                    '1st Max Value': 'NO2 1st Max Value', 
                    '1st Max Hour': 'NO2 1st Max Hour', 
                    'AQI': 'NO2 AQI', 
                    'State Name': 'State', 
                    'County Name': 'County', 
                    'City Name': 'City'}, inplace=True)

NO2['Date'] = pd.to_datetime(NO2['Date'])

NO2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3122209 entries, 0 to 3151521
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   NO2 Mean           float64
 2   NO2 1st Max Value  float64
 3   NO2 1st Max Hour   int64
 4   NO2 AQI            int64
 5   Address            object
 6   State              object
 7   County             object
 8   City               object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 238.2+ MB

## Pollution All

In [23]:
O3df = O3.copy()
COdf = CO.copy()
SO2df = SO2.copy()
NO2df = NO2.copy()

In [24]:
df1 = pd.merge(O3df, COdf, how='inner', 
               left_on=['Date', 'Address', 'State', 'County', 'City'], 
               right_on=['Date', 'Address', 'State', 'County', 'City'])

In [25]:
df2 = pd.merge(df1, SO2df, how='inner', 
               left_on=['Date', 'Address', 'State', 'County', 'City'], 
               right_on=['Date', 'Address', 'State', 'County', 'City'])

In [26]:
df3 = pd.merge(df2, NO2df, how='inner', 
               left_on=['Date', 'Address', 'State', 'County', 'City'], 
               right_on=['Date', 'Address', 'State', 'County', 'City'])

In [27]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 608699 entries, 0 to 608698
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               608699 non-null  datetime64[ns]
 1   O3 Mean            608699 non-null  float64
 2   O3 1st Max Value   608699 non-null  float64
 3   O3 1st Max Hour    608699 non-null  int64
 4   O3 AQI             608699 non-null  int64
 5   Address            608699 non-null  object
 6   State              608699 non-null  object
 7   County             608699 non-null  object
 8   City               608699 non-null  object
 9   CO Mean            608699 non-null  float64
 10  CO 1st Max Value   608699 non-null  float64
 11  CO 1st Max Hour    608699 non-null  int64
 12  CO AQI             608699 non-null  float64
 13  SO2 Mean           608699 non-null  float64
 14  SO2 1st Max Value  608699 non-null  float64
 15  SO2 1st Max Hour   608699 non-null  int64
 16  SO2 AQI            608699 non-null  float64
 17  NO2 Mean           608699 non-null  float64
 18  NO2 1st Max Value  608699 non-null  float64
 19  NO2 1st Max Hour   608699 non-null  int64
 20  NO2 AQI            608699 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(6), object(4)
memory usage: 102.2+ MB

In [32]:
df_final = df3.copy()
df_final['Date'] = pd.to_datetime(df_final['Date'])
df_final['Day'] = df_final['Date'].dt.day
df_final['Month'] = df_final['Date'].dt.month
df_final['Year'] = df_final['Date'].dt.year
df_final

,Date,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,Address,State,County,City,CO Mean,...,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,Day,Month,Year
0,2000-01-01,0.019765,0.040,10,37,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.878947,...,9.0,21,13.0,19.041667,49.0,19,46,1,1,2000
1,2000-01-02,0.015882,0.032,10,30,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1.066667,...,3.0,22,4.0,22.958333,36.0,19,34,2,1,2000
2,2000-01-03,0.009353,0.016,9,15,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1.762500,...,11.0,19,16.0,38.125000,51.0,8,48,3,1,2000
3,2000-01-04,0.015882,0.033,9,31,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1.829167,...,16.0,8,23.0,40.260870,74.0,8,72,4,1,2000
4,2000-01-05,0.007353,0.012,9,11,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2.700000,...,15.0,7,21.0,48.450000,61.0,22,58,5,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,0.040588,0.049,10,45,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.100000,...,0.7,2,0.0,1.281818,2.1,0,2,26,6,2021
608695,2021-06-27,0.037882,0.042,10,39,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.100000,...,0.4,4,0.0,1.104167,2.3,20,2,27,6,2021
608696,2021-06-28,0.039765,0.050,9,46,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.100000,...,0.5,2,0.0,1.678261,5.8,23,5,28,6,2021
608697,2021-06-29,0.049176,0.058,10,61,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.066667,...,0.5,20,0.0,2.934783,7.4,0,7,29,6,2021
608698,2021-06-30,0.052333,0.054,12,50,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.054167,...,0.5,3,0.0,2.762500,7.5,5,7,30,6,2021

In [33]:
df_final.columns

Index(['Date', 'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI',
       'Address', 'State', 'County', 'City', 'CO Mean', 'CO 1st Max Value',
       'CO 1st Max Hour', 'CO AQI', 'SO2 Mean', 'SO2 1st Max Value',
       'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'Day', 'Month', 'Year'],
      dtype='object')

In [34]:
reordered = ['Date', 'Year', 'Month', 'Day', 'Address', 'State', 'County', 'City', 
             'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 
             'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 
             'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 
             'NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI']

In [35]:
df_final = df_final.reindex(columns=reordered)

In [36]:
df_final

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,2021,6,26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.040588,0.049,...,0,1.0,0.409091,0.7,2,0.0,1.281818,2.1,0,2
608695,2021-06-27,2021,6,27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.037882,0.042,...,0,1.0,0.325000,0.4,4,0.0,1.104167,2.3,20,2
608696,2021-06-28,2021,6,28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.039765,0.050,...,0,1.0,0.326087,0.5,2,0.0,1.678261,5.8,23,5
608697,2021-06-29,2021,6,29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.049176,0.058,...,0,1.0,0.317391,0.5,20,0.0,2.934783,7.4,0,7
608698,2021-06-30,2021,6,30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.052333,0.054,...,0,1.0,0.366667,0.5,3,0.0,2.762500,7.5,5,7

In [37]:
df_final.to_csv('pollution_2000_2021.csv', index=False)